.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: not-allowed;
  pointer-events: none;
  border: none;
}

.menu-item-wrapper.active {
  border: 1px #363636 solid;
}

.menu-item.active {
  border: 1px goldenrod solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}