/.vscode
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
__pycache__/
*.py[cod]

# dependencies
frontend/node_modules

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/env.local
frontend/env.development.local
frontend/env.test.local
frontend/env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

backend/*.wav
backend/audios
backend/__pycache__
backend/kaldi/__pycache__
backend/kaldi/exp/pvector_net
backend/database